.navbar {
  background-color: black;
  color: white;
  height: 80px;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbarList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.dropdownItems {
  display: flex;
  flex-direction: column;
}

#flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logoImg {
  height: 40px;
  width: auto;
}

#header-info {
  width: 20dvw;
  min-width: 200px;
  padding: 10;
}

#header-image {
  max-height: fit-content;
}

.header-photo {
  height: 500px;
  width: auto;
}

#flex-organiser {
  display: flex;
  flex-direction: column;
}
